@charset "UTF-8";
@import 'reset.css';

.wrap-content {
	min-width: 960px;
	padding: 20px 30px;
}

.wrap-border {
	border: 1px solid #dfdfdf;
	width: 100%;
	height: 280px;
}

.wrap-box {
	float: left;
}

/* colors */
.yellow {
	background-color: #f0ad02;
}
.orange {
	background-color: #f07402;
}
.blue {
	background-color: #0656b4;
}
.gray {
	background-color: #bababa;
}
.red {
	background-color: #f96585;
}

/* 레이아웃 */
.box-1 {
	width: 218px;
	height: 279px;
	border-right: 1px solid #dfdfdf;
	padding: 20px;
}
.box-1 ul {
	padding-top: 20px;
}
.box-1 ul li {
	float: left;
	width: 88px;
	text-align: center;
	padding: 14px 0;
}

.box-1 ul li p {
	font-size: 12px;
}
.box-1 ul li span {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	padding: 3px 20px 2px;
	border-radius: 20px;
}

.box-2 {
	border-right: 1px solid #dfdfdf;
	width: 336px;
	height: 279px;
	padding: 20px;
}
.box-2 h3 {
	display: block;
}
.chart,
.info-chart {
	padding-top: 30px;
	float: left;
}

.info-chart {
	padding-left: 10px;
}

.info-chart dd {
	margin-left: -10px;
	margin-top: -2px;
	padding: 12px 0 27px 10px;
	font-size: 13px;
}
.reddot {
	background: url(../img/circle-red.png) no-repeat 0 2px;
	padding-left: 15px;
}
.reddot dt {
	color: #f96585;
	font-weight: bold;
}
.orangedot {
	background: url(../img/circle-or.png) no-repeat 0 2px;
	padding-left: 15px;
}
.orangedot dt {
	color: #fb9d4e;
	font-weight: bold;
}
.yellowdot {
	background: url(../img/circle-ye.png) no-repeat 0 2px;
	padding-left: 15px;
}
.yellowdot dt {
	color: #f0ad02;
	font-weight: bold;
}
.reddot dd,
.orangedot dd {
	border-left: 1px dotted #ccc;
}
.no-chart {
	width: 100%;
	text-align: center;
	margin-top: 100px;
}
.box-3 {
	width: calc(100% - 554px);
	padding: 20px;
	height: 280px;
}
.no-list {
	width: 100%;
	text-align: center;
	margin-top: 100px;
}
.panels .no-list {
	padding-right: 20px;
}

.box-5-refer .no-list,
.box-5-todo .no-list,
.box-6-refer .no-list,
.box-6-todo .no-list {
	padding-top: 20px;
}

.no-list-mid {
	width: 100%;
	height: 300px;
	background-color: #f7f7f7;
	text-align: center;
	padding-top: 100px;
	margin-top: 12px;
}
h3 {
	display: inline-block;
	margin: 0;
}

ul.list {
	margin-top: 30px;
}
.num-pending {
	font-size: 13px;
	padding: 3px 10px;
	border-radius: 15px;
	color: #fff;
	display: inline-block;
}
.btn-more {
	float: right;

	color: #666;
}

.list-approval {
	padding-bottom: 13px;
	line-height: 25px;
}
.list-approval span {
	display: inline-block;
	vertical-align: middle;
}
.list-approval img {
	vertical-align: top;
	margin-top: 2px;
}

.status {
	text-align: center;
	width: 80px;
	overflow: hidden;
}

.division {
	width: 100px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.name {
	width: 80px;
	text-align: center;
	overflow: hidden;
}

.date {
	width: fit-content;
	text-align: right;
	overflow: hidden;
}

/* 결재진행함 */
.wrap-mid {
	padding-top: 40px;
	height: 324px;
	overflow: hidden;
	width: 100%;
}

.wrap-mid-viewall {
	padding-top: 40px;
	width: 100%;
}
.wrap-mid ul,
.wrap-mid-viewall ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 12px;
	padding: 12px 0;
	background-color: #f7f7f7;
}
.wrap-mid ul li,
.wrap-mid-viewall ul li {
	margin-left: 13px;
}
.btn-info {
	cursor: pointer;
	line-height: 20px;
	padding-left: 2px;
}
.btn-info img {
	vertical-align: top;
}
.box-ing {
	width: 284px;
	border: 1px solid #dfdfdf;
	margin-bottom: 15px;
	background-color: #fff;
	cursor: pointer;
}

.box-ing:hover {
	width: 284px;
	border: 1px solid #999;
	margin-bottom: 15px;
	background-color: #fff;
	box-sizing: border-box;
}
.tit-ing {
	border-bottom: 1px solid #dfdfdf;
	padding: 10px;
	width: 282px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.route-ing {
	padding: 20px 0 10px 0;
	text-align: center;
}
.person {
	width: 100px;
	text-align: center;
	display: inline-block;
}
.person img {
	width: 60px;
	height: 60px;
	border-radius: 50px;
}
.person-info span {
	display: block;
	text-align: center;
}
.img-status {
	display: inline-block;
	width: 30px;
	height: 100px;
	background-color: blue;
}
.img-status.move {
	background: url(../img/ic-move.png) no-repeat 0 50%;
}
.img-status.ing {
	background: url(../img/ic-ing.png) no-repeat 0 50%;
}

.person-name {
	font-size: 14px;
	font-weight: bold;
	padding: 4px 0 2px;
}
.person-division {
	padding-bottom: 2px;
}
.step-ing {
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
.wrap-progress {
	width: 60%;
	margin: 3px 6px;
	background-color: #eee;
	height: 5px;
	display: inline-block;
	border-radius: 15px;
	position: relative;
}
.bar-progress {
	width: 50%;
	background-color: #f0ad02;
	border-radius: 15px;
	display: inline-block;
	height: 5px;
	position: absolute;
	left: 0;
}

.view-all {
	width: 100%;
	padding: 10px 0 16px 0;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #d2d2d2;
	margin-top: 12px;
	background-image: url(../img/ic-more.png);
	background-repeat: no-repeat;
	background-position: 50% 75%;
	cursor: pointer;
	margin-bottom: 40px;
}
.close-all {
	width: 100%;
	padding: 16px 0 10px 0;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #d2d2d2;
	margin-top: 12px;
	background-image: url(../img/ic-close.png);
	background-repeat: no-repeat;
	background-position: 50% 20%;
	cursor: pointer;
	margin-bottom: 40px;
}
/* 3단 */
.wrap-border-2 {
	border: 1px solid #dfdfdf;
	width: 100%;
	height: 340px;
	overflow-y: hidden;
}
.wrap-box-todo,
.wrap-box-refer {
	width: calc(100% - 212px);
	float: left;
}

/* 최근사용양식 */
.box-4 {
	border-right: 1px solid #dfdfdf;
	height: 340px;
}
.wrap-tab input[type='radio'] {
	display: none;
}

.tabs label {
	padding: 20px 0;
	text-align: center;
	float: left;
	cursor: pointer;
}

.tab-recent {
	border-right: 1px solid #dfdfdf;
	width: 106px;
}
.tab-like {
	width: 105px;
}

.panels {
	height: 280px;
	padding: 20px 0px 20px 20px;
	clear: both;
}

.panel-1,
.panel-2 {
	display: none;
}

.tab-1-radio:checked ~ .panels .panel-1,
.tab-2-radio:checked ~ .panels .panel-2 {
	display: block;
	height: 100%;
	overflow-y: auto;
}

.tab-1-radio:checked ~ .tabs .tab-like,
.tab-2-radio:checked ~ .tabs .tab-recent {
	border-bottom: 1px solid #dfdfdf;
}
.tab-1-radio:checked ~ .tabs .tab-recent,
.tab-2-radio:checked ~ .tabs .tab-like {
	font-weight: bold;
}

.panel-1 ul li,
.panel-2 ul li {
	padding: 5px 0 5px 10px;
	background: url(../img/ic-listdot.png) no-repeat 0 8px;
	width: 170px;
}

/* 담당업무함 */
.box-5-todo {
	padding: 20px;
	border-right: 1px solid #dfdfdf;
	height: 340px;
	width: 300px;
}

.list-todo {
	width: 260px;
	height: 253px;
	overflow-y: auto;
	margin-top: 30px;
}

.list-todo ul li {
	padding: 12px 13px;
	background-color: #eee;
	margin-bottom: 8px;
}
.list-todo ul li:last-child {
	margin: 0;
}
.list-todo div {
	display: flex;
	justify-content: space-between;
	line-height: 1;
}
.docu-name {
	font-size: 14px;
	padding-right: 5px;
	display: inline-block;
	max-width: 180px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 15px;
	vertical-align: middle;
}
.docu-num {
	background-color: #f0ad02;
	color: #fff;
	font-weight: bold;
	border-radius: 15px;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	width: 32px;
	text-align: center;
	line-height: 1;
	padding: 3px 0;
}

/* 참조회람함 */
.box-5-refer {
	width: calc(100% - 50%);
	padding: 20px;
	border-right: 1px solid #dfdfdf;
	height: 340px;
}
.box-5-refer ul,
.box-6-refer ul {
	height: 253px;
	overflow-y: auto;
}

/* 부서수신함 */
.box-6-todo {
	width: calc(100% - 301px);
	padding: 20px;
}
.box-6-refer {
	width: calc(100% - 50%);
	padding: 20px;
}

/* 미디어쿼리 */

@media (max-width: 1280px) {
	span.division,
	span.status,
	span.name,
	span.date {
		display: none;
	}
	span.wrap-tit {
		width: 100%;

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

@media (min-width: 1281px) {
	span.wrap-tit {
		width: calc(100% - 330px);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.box-6-refer span.wrap-tit,
	.box-5-refer span.wrap-tit,
	.box-6-todo span.wrap-tit {
		width: calc(100% - 240px);

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
